.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    border-top-right-radius: 100px;

    .footer-links {
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 1rem 0;
        justify-content: space-around;

        a {
            color: white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        h4 {
            margin-bottom: 0.5rem;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }
}